<!DOCTYPE html>
<html>
<head>
<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}
h1{text-align:center;}
h2{text-align:left;}
h4{text-align:left;}
div {
  height: 800px;
  width: 100%;
}
</style>
</head>
<body>



<div class="myDiv">
<h1><b>ALUVA<b></h1>

<img src="periyar.jpg" width="350" height="200" align="right">

  
  <p><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aluva(also known by its former name Alwaye) is a region in the city of Kochi in Kerala, India. 
It is a part of the Kochi metropolitan area and is situated around 15 km from the city center on the banks of Periyar River.
A major transportation hub, with easy access to all major forms of transportation, Aluva acts as a corridor which links the 
highland districts to the rest of Kerala. Cochin International Airport at Nedumbassery is 11.7 km from Aluva.
Aluva is accessible through rail (Aluva railway station), air (Cochin International Airport), metro (Kochi Metro) along with 
major highways and roadlines. Aluva KSRTC bus station is an important transport hub in Kerala and one of the busiest stations 
in central part of the state.</h4></p>


<br>

<h2>History</h2>
<br>
<img src="temple.jpg" width="350" height="200" align="left">



<p><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Archaeologists have found evidence of settlements in Aluva as far back as 250 BC.The place used to be a continuous
 area of land spread across Kakkanad and Alangad; historians have recorded that it was so up to AD 1341. The town, by then 
thickly populated, became a holiday resort and a centre of commerce.Mangalappuzha, a branch of Periyar which bifurcates 
at Aluva was known to be the nerve centre of trade and commerce in this part of South India. Before Indian independence, 
Aluva was part of the Kingdom of Travancore and was the official summer residence of the royal family.

The etymology of the name of the town of Aluva has been the subject of speculation for centuries. One of the more accepted 
version relates to the story of Hindu god Shiva drinking the Kalakootam poison to save the world. It is said that Shiva with 
the poison 'Alam' in his mouth 'Vaa' was made into a deity which was then rested in a temple in Aluva.The Sivarathri 
festival for which the town is famous for is celebrated in the honour of Shiva. In the twentieth century, when there was a 
community of Jews in Cochin, some used to have holiday homes in Aluva on the banks of the River Periyar.It also has a 
name "gate way to east".</h4></p>

<br>
<h2>Culture</h2>
 <p><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The culture scene of Aluva is rich with those who are native of this town and those who have been attracted to it 
mainly due its proximity to the great river Periyar.Several popular Malayalam movie songs are dedicated to the river Periyar. Famous poets Changapuzha Krishna Pillai, 
G. Sankara Kurup and Balachandran Chullikkadu, and critic Kuttipuzha Krishnapilla, and novelist Subash Chandran are from Aluva and lived there. Though not from Aluva area, 
Vayalar Ramavarma and O.N.V Kurup wrote about Periyar and the town Aluva was an integral part of their paying homage to the most lively river of the state of Kerala, 
Periyar.</h4></p>
<p><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The mimicry comedy revolution that dominated the cultural landscape of Kerala beginning 1980's originated in Aluva by stand-up comedians from that area, 
though they got larger audience and fans in Kochi and in Malayalam movies later which would make them cultural fixations of Kerala's pop culture. The movie star Dileep is
from later part of that era. With Kochi becoming the base for Mollywood, several parts of the city including Aluva has featured in numerous films, like Premam 
(portraying the erstwhile Aluva town in the 90s and early 2000s), Nizhal etc.

Several newspapers and magazines were published from Aluva during the print era. Continuing with that tradition the first online magazine and blogging platform was also 
started in Aluva by puzha.com, which continues to exist in the cyberspace.</h4></p>
</div>


</body>
</html>