{% extends 'myapp/base.html' %}
  {% block content %}

<h1 class="p-5"><b>🗑️Delete Product</b></h1><br>

<form class="p-5" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
  <label for="name">Product Name : {{p.name}}</label><br><br>
  <label for="price">Product Price : {{p.price}}</label><br><br>
  <label for="description">Product Description : {{p.description}}</label><br><br>
  <label for="name">Product Image : </label><br>
  <img class="w-36 mb-3 rounded-lg" src="{{p.image.url}}" alt="Image Not Found">
  <input type="file" id="upload" name="upload" ><br><br>
  <input type="submit" class="btn" value="Delete Product">
</form> 

{% endblock  %}